.card {
  width: 323px;
  position: relative;
  display: flex;
  justify-content: center;
}

.card__name {
  margin: 0;
  background: #ffffff;
  color: #00000099;
  position: absolute;
  top: 15px;
  border-radius: 4px;
  font-family: "Cabinet Grotesk", sans-serif;
  font-size: 16px;
  line-height: 20px;
  padding: 4px 8px;
}

.card__image {
  width: 100%;
  border-radius: 30px;
}
