.header {
  display: flex;
  /* align-items: center; */
  align-items: center;
}

.header__add-clothes-btn {
  margin-left: auto;
  margin-right: 20px;
  height: 24px;
  font-family: "Cabinet Grotesk", sans-serif;
  border: none;
  font-size: 20px;
  font-weight: 700;
  white-space: nowrap;
  cursor: pointer;
}
.header__logo {
  width: 89px;
  height: 40px;
}

.header__data-and-location {
  /* width: 160px; */
  height: 24px;
  font-family: "Cabinet Grotesk", sans-serif;
  margin-left: 24px;
  line-height: 29px;
  font-size: 20px;
  font-weight: 700;
}

.header__user-container {
  display: flex;
  align-items: center;
  gap: 12px;
}

.header__username {
  height: 25px;
  font-family: "Cabinet Grotesk", sans-serif;
  line-height: 26px;
  font-size: 20px;
  font-weight: 700;
}

.header__avatar {
  width: 40px;
  height: 40px;
}
