.modal__content_type_image {
  padding: 0;
  border-radius: 16px;
  overflow: hidden;
  width: 498px;
  height: 610px;
  display: flex;
  flex-direction: column;
}

.modal__image {
  object-fit: cover;
  width: 100%;
  height: 498px;
  display: block;
}

.footer {
  margin: 20px 0 32px 32px;
}

.modal__caption {
  margin: 0 0 12px 0;
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 700;
  font-size: 20px;
}

.modal__weather {
  margin: 0;
  font-family: "Cabinet Grotesk", sans-serif;
  font-weight: 700;
  font-size: 20px;
}
