.sideBar {
  margin-right: 116px;
}

.sideBar__profile {
  display: flex;
}

.sideBar__avatar {
  width: 56px;
  height: 56px;
  border-radius: 50%;
}

.sideBar__username {
  height: 25px;
  font-family: "Cabinet Grotesk", sans-serif;
  /* line-height: 26px; */
  font-size: 20px;
  font-weight: 700;
  margin-left: 16px;
  white-space: nowrap;
}

.edit__profile-button {
  white-space: nowrap;
  font-family: "Cabinet Grotesk", sans-serif;
  border: none;
  font-weight: 700;
  margin-top: 24px;
  cursor: pointer;
}

.logout-button {
  display: flex;
  white-space: nowrap;
  font-family: "Cabinet Grotesk", sans-serif;
  border: none;
  font-weight: 700;
  margin-top: 24px;
  cursor: pointer;
}
